@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #111;
  color: #fff;
  padding: 30px;
}

/* CONTAINER DOS BOTÕES */
.container-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.container-buttons button {
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  background: #ff0048;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: 0 0 10px #ff0048aa;
}

.container-buttons button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 15px #ff0048;
  background: #ff2b66;
}

/* LISTA DE PRODUTOS */
ul {
  list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: center;
}

/* CADA ITEM */
li {
  background: #1c1c1c;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 12px #000;
  transition: 0.3s ease;
}

li:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px #ff004855;
}

/* IMAGENS */
li img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;
  transition: 0.3s;
}

li img:hover {
  transform: scale(1.06);
}

/* NOME DO PRODUTO */
li p {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 18px;
}

/* PREÇO */
.item-price {
  font-size: 20px;
  font-weight: bold;
  color: #00ff7f;
  text-shadow: 0 0 5px #00ff7faa;
}
